.footer {
    width: 75%;
    margin: 0 auto;
    margin-top: 5rem;
    border-top: 5px solid #333;
    &-content {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}